@page "/"
@using GpuShare.Frontend.Components.Shared
@using GpuShare.Frontend.Models

@*
TODO:
- move sorting outside of filters
- badges scrolling horizontally if too many
- add "clear filters" button ?
- removing filters with badges 
- disable page buttons when no more pages
- handle empty results
- add loading state
*@

<PageTitle>Search for GPUs</PageTitle>

<h1>Search for GPUs</h1>

<!-- Search bar and filters -->
<SearchBar OnSearch="ApplySearch" />

<!-- GPUs -->
<GpuList />

@code {
    public EventCallback<SearchFilter> OnSearch { get; set; }

    public SearchFilter Filter = new();
    
    public async Task ApplySearch()
    {
        await OnSearch.InvokeAsync(Filter);
        Console.WriteLine($"Searching for '{Filter.Term}', price between {Filter.PricePerHour?.Start ?? 0} and {Filter.PricePerHour?.End ?? 0}, cores between {Filter.Cores?.Start ?? 0} and {Filter.Cores?.End ?? 0}, available only: {Filter.AvailableOnly}");
    }

    public void OnFiltersApplied(SearchFilter updated)
    {
        Filter = updated;
    }
}
