@page "/profile"
@page "/profile/{Username}"

@* 
Project decisions:
- is the timeframe of the order fixed? if not then when and how the user can change/cancel the order?
- does the owner have to accept the order or is it automatically accepted? 
- i'd add a calendar for user to be able to see all orders for their devices
- maybe a calendar for every gpu when ordering?
*@

<div class="profile-page">
<div class="profile-card">
    <div class="header-main-row">
        <div class="user-info">
            <h3>My Username/Email</h3>
            
            <div class="stats-row">
                <div class="stat-item">
                    <span class="stat-label">Balance</span>
                    <span class="stat-value">120$</span>
                </div>
                <div class="stat-item">
                    <span class="stat-label">Rating</span>
                    <span class="stat-value">
                        4.56/5 <span class="rating-count">(21)</span>
                    </span>
                </div>
            </div>
        </div>

        @if (string.IsNullOrEmpty(Username))
        {
            <button class="btn-change-password btn-secondary" @onclick="ChangePassword">
                Change Password
            </button>
        }
    </div>
</div>

<div class="card">
    <div class="header-main-row">
        @if (string.IsNullOrEmpty(Username))
        {
            <h3>My Devices</h3>
            <button class="btn-add-device btn-primary" @onclick="AddDevice">Add Device</button>
        }
        else
        {
            <h3>@Username's Devices</h3>
        }
    </div>

    <GpuCard authorized="@authorized" />
</div>

@if (string.IsNullOrEmpty(Username))
{
<div class="card">
    <div class="header-main-row">
        <h3>My Orders</h3>
    </div>

    <OrderTable />
</div>
}

<div class="card">
    <div class="header-main-row">
        <h3>Opinions</h3>
    </div>

    <OpinionsCard />
</div>

</div>

@if (string.IsNullOrEmpty(Username))
{
    <ChangePasswordModal IsVisible="@showChangePasswordModal" OnClose="@(() => showChangePasswordModal = false)" />
}

@code {
    [Parameter] public string? Username { get; set; }
    private bool authorized = false;
    private bool showChangePasswordModal = false;

    protected override void OnParametersSet()
    {
        if (string.IsNullOrEmpty(Username))
        {
            // Logic: Load the current logged-in user's data
            authorized = true; // Mocked authorization, replace with actual auth logic
        }
        else
        {
            // Logic: Load data for the specific "Username"
            authorized = false; // Mocked authorization, replace with actual auth logic
        }
    }

    private void ChangePassword()
    {
        showChangePasswordModal = true;
    }

    private void AddDevice()
    {
        
    }

    
}