@page "/profile"

<div class="profile-page">
<div class="profile-card">
    <div class="header-main-row">
        <div class="user-info">
            <h3>My Username/Email</h3>
            
            <div class="stats-row">
                <div class="stat-item">
                    <span class="stat-label">Balance</span>
                    <span class="stat-value">120$</span>
                </div>
                <div class="stat-item">
                    <span class="stat-label">Rating</span>
                    <span class="stat-value">
                        4.56/5 <span class="rating-count">(21)</span>
                    </span>
                </div>
            </div>
        </div>

        <button class="btn-change-password btn-secondary" @onclick="ChangePassword">
            Change Password
        </button>
    </div>
</div>

<div class="card">
    <div class="header-main-row">
        <h3>My Devices</h3>
        <button class="btn-add-device btn-primary" @onclick="AddDevice">Add Device</button>
    </div>

    <GpuCard />
</div>

<div class="card">
    <div class="header-main-row">
        <h3>My Orders</h3>
    </div>

    <OrderTable />
</div>

<div class="card">
    <div class="header-main-row">
        <h3>Opinions</h3>
    </div>

    <OrderTable />
</div>

</div>

<ChangePasswordModal IsVisible="@showChangePasswordModal" OnClose="@(() => showChangePasswordModal = false)" />

@code {
    private bool showChangePasswordModal = false;

    

    private void ChangePassword()
    {
        showChangePasswordModal = true;
    }

    private void AddDevice()
    {
        
    }

    
}