<BaseModal IsVisible="IsVisible" Title="Change Password" OnClose="CloseModal" SizeClass="small">
    <EditForm Model="changePasswordModel" OnValidSubmit="HandleChangePassword">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <input name="oldPassword" autocomplete="current-password" type="password" placeholder="Old Password" @bind-value="changePasswordModel.OldPassword" />
        <input name="newPassword" autocomplete="new-password" type="password" placeholder="New Password" @bind-value="changePasswordModel.NewPassword" />
        <input name="confirmPassword" autocomplete="new-password" type="password" placeholder="Confirm Password" @bind-value="changePasswordModel.ConfirmPassword" />
        <button class="action-btn btn-primary" type="submit">Change Password</button>
    </EditForm>
</BaseModal>

@code {
    private ChangePasswordModel changePasswordModel = new ChangePasswordModel();

    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private async Task CloseModal()
    {
        await OnClose.InvokeAsync();
    }

    private void HandleChangePassword()
    {
        // This code runs when the user clicks 'Change Password' or hits 'Enter'
        Console.WriteLine($"Changing password for user with old password {changePasswordModel.OldPassword}");
    }

    public class ChangePasswordModel
    {
        public string OldPassword { get; set; } = "";
        public string NewPassword { get; set; } = "";
        public string ConfirmPassword { get; set; } = "";
    }
}