<BaseModal IsVisible="IsVisible" Title="Remove Device" OnClose="Close">

    <ChildContent>
    @* <MudIcon Icon="@Icons.Material.Filled.WarningAmber"
                     Color="Color.Error"
                     Size="Size.Large"
                     Class="mb-4" />

            <MudText Typo="Typo.h5" GutterBottom="true">
                
            </MudText> *@

        <MudText Typo="Typo.body1" Class="mb-4">
            Are you sure you want to permanently remove <b>@gpu.Name</b> from your device fleet?
        </MudText>

        <MudAlert Severity="Severity.Warning" Dense="true" Variant="Variant.Outlined" Class="mb-4">
            This action cannot be undone.
            <ul class="modal-warning-list" style="margin-bottom: 0px;">
                <li>All future reservations will be cancelled</li>
                <li>Users will lose access to this GPU</li>
                <li>Monitoring statistics and uptime history may be deleted</li>
                <li>Active workloads may be interrupted</li>
            </ul>
        </MudAlert>

            @* @if (gpu.HasActiveReservations)
            {
                
            } *@

        <MudAlert Severity="Severity.Error" Dense="true" Variant="Variant.Filled">
            This device currently has active reservations. Removing it may affect running workloads.
        </MudAlert>
    </ChildContent>

    <FooterContent>
        <button class="btn btn-cancel" @onclick="Cancel">Cancel</button>
        <button class="btn btn-danger" @onclick="ConfirmRemove">
            <MudIcon Icon="@Icons.Material.Filled.Delete" />
            Remove Device
        </button>

        @* <MudButton Variant="Variant.Filled"
                   Color="Color.Error"
                   StartIcon="@Icons.Material.Filled.Delete"
                   OnClick="ConfirmRemove">

            Remove Device

        </MudButton> *@
</FooterContent>

</BaseModal>

@code {
    [Parameter] public GpuShare.Frontend.Models.Device gpu { get; set; } = new();
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private void Close()
    {
        IsVisible = false;
    }

    private void Cancel()
    {
        IsVisible = false;
    }

    private void ConfirmRemove()
    {
        
    }
}