.page[b-2v81lfjo4r] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-2v81lfjo4r] {
    flex: 1;
}

/* .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: space-between;
    height: 3.5rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    } */

.top-nav[b-2v81lfjo4r] {
    width: 100%;
    background-color: #4c6eb2;
    border-bottom: 0px solid #eee;
    padding: 20px 36px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.nav-container[b-2v81lfjo4r] {
    display: flex;
    justify-content: space-between; /* Pushes brand left and nav-links right */
    align-items: center;
    margin: 0px;    /* Centers the container */
    font-weight: bold;
}

.brand[b-2v81lfjo4r] {
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 0px;
    color: #0a1128;
}

/* Flex container for the links on the right */
.nav-links[b-2v81lfjo4r] {
    display: flex;
    align-items: center;
    gap: 20px; /* Spacing between 'About' and 'Contact' */
    color: #0a1128;
}

.nav-links[b-2v81lfjo4r]  a {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.nav-links button[b-2v81lfjo4r] {
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    background: none;
    border: 1px solid #0a1128;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
}

/* Ensures the page content starts below the header */
.content-area[b-2v81lfjo4r] {
    padding: 2rem;
}

/* TO-DO: Responsive adjustments */
/* @media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
} */

#blazor-error-ui[b-2v81lfjo4r] {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-2v81lfjo4r] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
