@page "/profile/{Username}"
@using GpuShare.Frontend.Services
@using GpuShare.Frontend.Models
@using GpuShare.Frontend.State
@inject IAuthState AuthState

@* 
Project decisions:
- is the timeframe of the order fixed? if not then when and how the user can change/cancel the order?
- does the owner have to accept the order or is it automatically accepted? 
- maybe a calendar for every gpu when ordering?
*@

<div class="profile-page cards-container">

    <!-- Profile Info -->
    <ProfileCard Username="@Username" />

    @if (AuthState.IsAuthenticated && Username == AuthState.User!.Username)
    {
        <!-- Wallet -->
        <WalletCard />
    }

    <!-- GPUs -->
    <div class="card">
        <div class="flex-row" style="justify-content: space-between;">
            @if (AuthState.IsAuthenticated && Username == AuthState.User!.Username)
            {
                <h3>My GPUs</h3>
                <button class="btn-add-device btn-primary" @onclick="AddDevice">Add GPU</button>
            }
            else
            {
                <h3>@Username's GPUs</h3>
            }
        </div>

        <GpuList authorized="@AuthState.IsAuthenticated" />
    </div>

    <!-- Orders -->
    @if (AuthState.IsAuthenticated && Username == AuthState.User!.Username)
    {
        <div class="card">
            <div class="header-main-row">
                <h3>My Orders</h3>
            </div>

            <OrderTable />
        </div>
    }

    <!-- Opinions -->
    <div class="card">
        <div class="header-main-row">
            <h3>Opinions</h3>
        </div>

        <OpinionsList />
    </div>

</div>

@code {
    [Parameter] public string Username { get; set; } = string.Empty;
    private List<Device> devices = [];

    private Device gpu = new();

    protected override void OnInitialized()
    {
        // mock data
        devices = Enumerable.Range(1, 10).Select(i => new Device
        {
            Id = i,
            Name = $"GPU {i}",
            IsAvailable = i % 2 == 0,
            VramMb = 24567,
            CudaCores = 16384,
            DriverVersion = "535.104",
            Frameworks = ["PyTorch", "Tensorflow"],
            PricePerHour = 5
        }).ToList();

        gpu = devices[0];
    }
    
    protected override void OnParametersSet()
    {

    }

    private void AddDevice()
    {
        
    }

    private void Cancel() {

    }

    private void ConfirmRemove() {

    } 

    private async Task CloseModal()
    {
        await OnClose.InvokeAsync();
    }

    [Parameter] public EventCallback OnClose { get; set; }
}