.results-container {
    margin-top: 12px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.pagination button {
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid #4c6eb2;
    background: white;
    cursor: pointer;
    color: #4C6EB2;
}

.pagination button:hover {
    background-color: #C5D8E8;
}
