@using Microsoft.AspNetCore.Components.Forms

@if (IsVisible)
{
    <div class="modal-backdrop" @onclick="CloseModal">
        <div class="modal-dialog">
        <div class="modal-content" @onclick:stopPropagation="true">
            <div class="modal-header">
                <h3>@(IsLoginMode ? "Login" : "Register")</h3>
                <button class="btn-close" @onclick="CloseModal">&times;</button>
            </div>

            <div class="modal-body">
                @if (IsLoginMode)
                {
                    <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <input name="username" autocomplete="username" type="text" placeholder="Username" @bind-value="loginModel.Username" />
                        <input name="password" autocomplete="current-password" type="password" placeholder="Password" @bind-value="loginModel.Password" />
                        <button class="action-btn btn-primary" type="submit">Sign In</button>
                    </EditForm>
                    <p style="margin-bottom: 0px; margin-top: 16px; font-size: smaller;">
                        New here? <a style="color: #4c6eb2;" href="javascript:void(0)" @onclick="ToggleMode">Register</a></p>
                }
                else
                {
                    <EditForm Model="registerModel" OnValidSubmit="HandleRegister">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        @* <input type="text" placeholder="Email" @bind-value="registerModel.Email" /> *@
                        <input name="username" autocomplete="username" type="text" placeholder="Username" @bind-value="registerModel.Username" />
                        <input name="password" autocomplete="new-password" type="password" placeholder="Password" @bind-value="registerModel.Password" />
                        <input name="confirmPassword" type="password" placeholder="Confirm Password" @bind-value="registerModel.ConfirmPassword" />
                        <button class="action-btn btn-primary" type="submit">Create Account</button>
                    </EditForm>
                    <p style="margin-bottom: 0px; margin-top: 16px; font-size: smaller;">
                        Already have an account? <a style="color: #4c6eb2;" href="javascript:void(0)" @onclick="ToggleMode">Login</a></p>
                }
            </div>
        </div>
        </div>
    </div>
}

@code {
    private LoginModel loginModel = new LoginModel();
    private RegisterModel registerModel = new RegisterModel();

    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private bool ShowModal = false;
    private bool IsLoginMode = true;

    private void ToggleMode() => IsLoginMode = !IsLoginMode;

    private async Task CloseModal()
    {
        await OnClose.InvokeAsync();
    }

    private void HandleLogin()
    {
        // This code runs when the user clicks 'Sign In' or hits 'Enter'
        Console.WriteLine($"Logging in with {loginModel.Username}");
    }

    private void HandleRegister()
    {
        // This code runs when the user clicks 'Create Account' or hits 'Enter'
        Console.WriteLine($"Registering {registerModel.Username} with email {registerModel.Email}");
    }

    public class LoginModel
    {
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
    }

    public class RegisterModel
    {
        public string Email { get; set; } = "";
        public string Username { get; set; } = "";
        public string Password { get; set; } = "";
        public string ConfirmPassword { get; set; } = "";
    }
}