/* Dark background that covers the whole screen */

/* The actual white box */
.modal-content {
    width: 350px;
}

.modal-body {
    padding-bottom: 1.5rem;
}

.action-btn {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-top: 12px;
}